[submodule "dep/libgit2/libgit2"]
	path = dep/libgit2/libgit2
	url = https://github.com/stinb/libgit2.git
[submodule "dep/libssh2/libssh2"]
	path = dep/libssh2/libssh2
	url = https://github.com/libssh2/libssh2.git
[submodule "dep/openssl/openssl"]
	path = dep/openssl/openssl
	url = https://github.com/openssl/openssl.git
[submodule "dep/git/git"]
	path = dep/git/git
	url = https://github.com/git/git.git
[submodule "dep/cmark/cmark"]
	path = dep/cmark/cmark
	url = https://github.com/commonmark/cmark.git
[submodule "dep/hunspell/hunspell"]
	path = dep/hunspell/hunspell
	url = https://github.com/hunspell/hunspell
[submodule "test/dep/zip"]
	path = test/dep/zip
	url = https://github.com/kuba--/zip.git
