01_singleHunkAdditionStaged
02_singleHunkDeletionStaged
03_singleHunkChangeSingleLine
04_singleHunkChange_onlyAdditionStaged
05_singleHunkChange_onlyDeletionStaged
06_singleHunk_multipleDeletions
07_singleHunk_multipleAdditions
08_multipleHunks_multipleDeletions
09_multipleHunks_multipleAdditions
10_misc
11_singleHunk_additionsOnly_secondStagedPatch
12_singleHunk_deletionsOnly_secondStagedPatch
13_singleHunkNoStaged
14_windowsCRLF
15_windowsCRLF_multipleHunks
16_LinestagingLineContent
17_LinestagingLineContentStageAddedLine
CherryPickAuthorEmail
rebaseConflicts
editorLineMarkers1
gitahead-test
SubmoduleTest
TreeViewCollapseCount


